*.jar
*.class
*.jj
*.zip
/syntaxtree
/visitor
/tests
JavaCharStream.java
MiniJavaParser.java
MiniJavaParserConstants.java
MiniJavaParserTokenManager.java
Token.java
TokenMgrError.java
Test_1.java
test.sh
README.odt
